{% extends "raspisanie.html"%}
{% block raspis%}
<center>
    <section class="py-1 text-center container">
    <div class="row py-lg-2">
        <div class="col-lg-8 col-md-4 mx-auto">
            <h1 class="fw-light" style="position: relative; top: 0px">Изменения
                в расписании</h1>
        </div>
    </div>
</section>
</center>

<body>
<h1 style="text-align: center;">&nbsp;
    <a href="https://docs.google.com/spreadsheets/d/1J91DxqEQ38tVNMM6OfRf3HnxQf6xd3dU/edit?usp=sharing&amp;
       ouid=111047564378010997744&amp;rtpof=true&amp;sd=true"
       rel="nofollow" target="_blank">Изменения в расписании на понедельник</a></h1>

<h1 style="text-align: center;">
    <a href="https://docs.google.com/spreadsheets/d/1bYIQ--5FCX1qkCtpm9yHjtXeGsnHYO53/edit?usp=sharing&amp;
       ouid=111047564378010997744&amp;rtpof=true&amp;sd=true"
       rel="nofollow" target="_blank">
        Изменения в расписании на вторник</a></h1>
<h1 style="text-align: center;">
    <a href="https://docs.google.com/spreadsheets/d/1aZkacNI83lPk4UvoaLNTkOFZc4SlWl6b/edit?usp=sharing&amp;
        ouid=111047564378010997744&amp;rtpof=true&amp;sd=true"
       rel="nofollow" target="_blank">
        Изменения в расписании на среду</a></h1>
<h1 style="text-align: center;">
    <a href
               ="https://docs.google.com/spreadsheets/d/11KQy4mClsgM2UW96aBCjhOyhgAxVMRw_/edit?usp=sharing&amp;
        ouid=111047564378010997744&amp;
        rtpof=true&amp;sd=true" rel="nofollow"
       target="_blank">
        Изменения в расписании на четверг</a></h1>
<h1 style="text-align: center;">
    <a href="https://docs.google.com/spreadsheets/d/1cBdCNrKKmoil6QZ7wuywVDWg0Cx2f7iC/edit?usp=sharing&amp;
        ouid=111047564378010997744&amp;
        rtpof=true&amp;sd=true"
       rel="nofollow" target="_blank">
        Изменения в расписании на пятницу</a></h1>
</body>

{% endblock%}